# -----------------------------
# PYTHON (Django Backend)
# -----------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
*.sqlite3

# -----------------------------
# NODE (Next.js Frontend)
# -----------------------------
node_modules/
.next/
out/
build/
coverage/

# Yarn / Pnpm
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# -----------------------------
# ENV FILES
# -----------------------------
.env*
.env.local

# -----------------------------
# LOG FILES
# -----------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# -----------------------------
# OS FILES
# -----------------------------
.DS_Store
*.pem

# -----------------------------
# TYPESCRIPT
# -----------------------------
*.tsbuildinfo
next-env.d.ts

# -----------------------------
# VERCEL
# -----------------------------
.vercel